body { 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    background-color:rgb(255, 255, 255);
 }
header{ 
    min-height: 8vh; 
} 
main{
    flex-grow: 1;
} 
footer{ 
    min-height: 8vh;
}
